@charset "UTF-8";
em {
	font-weight: bold;
}
.nowrap {
	white-space: nowrap;
}
.wrap {
	margin-top: 40px;
}
#cpike table{
	width: 100%;
	border-collapse: collapse;
	border-left: solid 1px #ddd;
	border-top: solid 1px #ddd;
	font-size: 12px;
	margin-bottom: 60px;
}

#cpike tr {
	vertical-align: middle;
}

#cpike th {
	background-color: #555;
	color: #fff;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
}

#cpike td{
	background-color: #fff;
	color: #444;
}
#cpike th, #cpike td {
	padding: 5px 10px;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
#cpike td.center {
	text-align: center;
}

form.date_range {
	margin-bottom: 10px;
}
h2.with_notes{
	display: inline-block;
	margin-right: 15px;
}
.notes {
	display: inline-block;
	font-size: 15px;
	margin-top: 25px;
}
.view_more {
	display: inline-block;
	font-size: 14px;
	margin-top: 25px;
	margin-left: 15px;
}
.link_btn {
	width: 100%;
	overflow: hidden;
	border: solid 1px #ddd;
	background-color: #fff;
	border-radius: 5px;
	position: relative;
}
.link_btn a {
	padding: 15px 45px;
	display: block;
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	background-color: #29d;
}
.link_btn a::after {
	content: '';
	width: 5px;
	height: 5px;
	position: absolute;
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	transform: rotate(45deg);
	top: 50%;
	left: 25px;
	margin-top: -5px;
}
.link_btn a:hover {
	opacity: 0.7;
}